@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body{
    background-image: url(img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.calculator-container{
    background-color: grey;
    width: 350px;
    height: 450px;
    border-radius: 25px;
    padding: 30px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5), 
    0 0 10px 5px rgba(0, 0, 0, 0.5), 
    0 0 10px 5px rgba(0, 0, 0, 0.5), 
    0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.calculator{
    background-color: gray;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.display{
    background-color: rgb(71, 71, 71);
    height: 100px;
    border-radius: 15px;
    border: 5px solid rgb(44, 44, 44);
}

.keys{
    height: 100%;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    border: 3px solid rgb(44, 44, 44);
}
.key{
    background-color: rgb(182, 182, 182);
    border: 3px solid rgb(71, 71, 71);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
}

.key:hover{
    background-color: #d3ce37;
}

.key-equal:hover{
    background-color: rgb(76, 163, 36);
    color: white;
}

.key-equal{
    grid-area: 6 / 3 / -2 / -1;
    background-color: rgb(182, 182, 182);
    border: 3px solid rgb(71, 71, 71);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
}

#AC:hover{
    background-color: rgb(179, 59, 59);
    color: white;
}

#C:hover{
    background-color: rgb(223, 52, 52);
    color: white;
}

#remainderBtn:hover{
    background-color: rgb(0, 185, 170);
    color: white;
}

#divideBtn:hover{
    background-color: rgb(0, 185, 170);
    color: white;
}

#plusBtn:hover{
    background-color: rgb(0, 185, 170);
    color: white;
}

#minusBtn:hover{
    background-color: rgb(0, 185, 170);
    color: white;
}

#multiplyBtn:hover{
    background-color: rgb(0, 185, 170);
    color: white;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

a{
    color: #f8f009;
    text-decoration: none;
}

a:hover{
    color: #ffee00;
}

.footer-text{
    color: grey;
}

.github{
    width: 60px;
}

.github-logo{
    width: 28px;
    margin-left: 5px;
}